# Lets user manually trigger a deployment to a selected cluster
name: manual-deployment-debug
on:
  workflow_dispatch:
    inputs:
      cluster:
        description: 'Select an environment'
        required: true
        type: choice
        options:
          - aks-alpha-fint-2021-11-18
          - aks-beta-fint-2021-11-23
          - aks-api-fint-2022-02-08
          - aks-pwf-fint-2021-10-20

jobs:
  debug:
    name: Build and push Docker image
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Get environment
      uses: actions/github-script@v6
      id: environment
      with:
        script: return '${{ inputs.cluster }}'.split('-')[1]
        result-encoding: string

    - name: Get resource group name
      uses: actions/github-script@v6
      id: resource-group
      with:
        script: return 'rg-aks-${{ steps.environment.outputs.result }}'
        result-encoding: string

    - name: Bake manifests with Kustomize
      id: bake
      uses: azure/k8s-bake@v2
      with:
        renderEngine: 'kustomize'
        kustomizationPath: 'kustomize/base'

    - name: Determine secret name
      id: secretname
      run: |
        echo "SECRET_NAME=$(echo AKS_${{ steps.environment.outputs.result }}_FINT_GITHUB | tr '[:lower:]' '[:upper:]')" >> $GITHUB_OUTPUT
    - name: Debug SECRET_NAME output
      run: |
        echo "${{ secrets.AKS_ALPHA_FINT_GITHUB }}" | wc -c
        echo '${{ secrets.AKS_ALPHA_FINT_GITHUB }}' | jq -r 'keys[]' || echo "jq not installed"
    - uses: azure/login@v2
      with:
        creds: ${{ secrets.AKS_ALPHA_FINT_GITHUB }}